

@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@4..1000&family=Sedan+SC&display=swap');








body{
    font-family: "Sedan SC", sans-serif;
margin: 0;

}

header{

background-color: black;
color:crimson;
padding: 10px 0px;
text-align:center;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}
nav ul li a {
    display: inline-block;
    color: rgb(8, 64, 194);
    padding: 14px 20px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color:darkslategrey;
}





img, p{
    display: inline-block;
padding: 10px;
}

.info{
    text-align:justify;
}

.nome{

text-align: center;
background-color:aliceblue;


}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px opx;
    position:relative;
    width: 100%;
    bottom: 0;

}
