@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@4..1000&family=Sedan+SC&display=swap');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');


body {
  padding: 50px 0;
  margin: 0;
}

header {
  padding: 10px 0px;
  margin-top: -4%;
  background-color: black !important;
}



.tapestry-regular {
  font-family: "Tapestry", serif;
  font-weight: 500;
  font-style: normal;
}

.playwrite-it-moderna {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



img,
p {
  display: inline-block;
  padding: 10px;
}



.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.nav a {
  padding: .5em .8em;
  color: red;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #142d89;
  border-right: 3px solid #142d89;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #142d89;
  border-left: 3px solid #142d89;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #142d89;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);


h1 {
  padding: 1%;
  font-family: "Protest Riot", sans-serif;
  font-weight: 0 !important;
}


p {
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
}

h3 {
  color: white;
}

.header {
  position: relative;
  text-align: center;
  background: white !important;
  color: black;
}

.inner-header {
  height: 65vh;
  width: 100%;
  padding: 0;
  height: 1px;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: absolute;
  height: 100px;
  bottom: 1;
  width: 100%;
  text-align: center;
  background-color: black;
  align-content: flex-end;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    margin-top: -5%;
  }

  p,
  h1,
  .header {
    font-size: 12px;
  }


}

/* Estilos para telas entre 601px e 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 15px;
    margin-top: 0;
    background-color: black !important;
  }
}